@model MunchBunch.Models.WishlistViewModels.WishlistViewModel

@{
    ViewData["Title"] = "My Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="Wishlist" />

<div id="wishlists">
  <h1 class="munchieHeader">My Wishlist</h1>
  <div class="list">
    @if((Model.WishlistItems).Count() == 0) {
      <h4>Add some restaurants to your Wishlist!</h4>
    } else {
      @foreach (var item in Model.WishlistItems) {
      <div class="memoirCard col-md-4">
        <p>Restaurant Id: @Html.DisplayFor(modelItem => item.RId)</p>
        <h4 class="restName">@Html.DisplayFor(modelItem => item.RestaurantName)</h4>
        <h5>@Html.DisplayFor(modelItem => item.RestaurantLocation)</h5>
        <p>@Html.DisplayFor(modelItem => item.RestaurantAddress)</p>

        <form class="searchForm" asp-action="Delete">
            <input type="hidden" name="WishlistId" asp-for="@item.WishlistId" />
            <input type="hidden" name="tried" value="true"/>
            <input class="btn index-btn" type="submit" value="Tried It!" class="btn btn-success" />
        </form>
        <form class="searchForm" asp-action="Delete">
            <input type="hidden" name="WishlistId" asp-for="@item.WishlistId" />
            <input class="btn index-btn" type="submit" value="Delete" class="btn btn-info" />
        </form>
      </div>
    }
  }

  </div>
</div>