@model IEnumerable<MunchBunch.Models.Wishlist>

@{
    ViewData["Title"] = "My Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Wishlist</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantAddress)
            </td>
            <td>
              <form asp-action="Delete">
                  <input type="hidden" name="WishlistId" asp-for="@item.WishlistId" />
                  <input type="hidden" name="tried" value="true"/>
                  <input type="submit" value="Tried It!" class="btn btn-success" />
              </form>
              <form asp-action="Delete">
                  <input type="hidden" name="WishlistId" asp-for="@item.WishlistId" />
                  <input type="submit" value="Delete" class="btn btn-info" />
              </form>

            </td>
        </tr>
}
    </tbody>
</table>