@model MunchBunch.Models.AppUser

@{
    ViewData["Title"] = "User Profile";
}

<img class="UserDetails" />
<div class="UserDetailPage">
<h2 class="munchieHeader">@ViewData["Title"]</h2>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimaryLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimaryLocation)
        </dd>

    </dl>
    <div>
      <a class="btn ate" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
      <a class="btn btn-default" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>
</div>
</div>

