@model MunchBunch.Models.AppUserViewModel

@{
    ViewData["Title"] = "User Profile";
}

<img class="UserDetails" />
<div class="UserDetailPage">
<h2 class="munchieHeader">@ViewData["Title"]</h2>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <hr />
    <dl class="dl-horizontal">
        @if (Model.AppUser.Image != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.AppUser.Image)
            </dt>
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.AppUser.Image);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }

                <img class="userImg" src="@imgSrc" />
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.AppUser.Image)
            </dt>
            <dd>
                <img class="userImg" src="~/images/medium-default-avatar.png" />
            </dd>
           
        }

        <dt>
            @Html.DisplayNameFor(model => model.AppUser.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser.PrimaryLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.PrimaryLocation)
        </dd>

    </dl>
    <div>
      <a class="btn ate" asp-action="Edit" asp-route-id="@Model.AppUser.Id">Edit</a>
      <a class="btn btn-default" asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>
</div>
</div>

