@model MunchBunch.Models.UserFollowsViewModels.UserFollowsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="Memoir" />

<div class="memoirs">
  <h1 class="munchieHeader">Fellow Muncher Memoirs</h1>
  <div class="row text-center">
      <a class="btn btn-default" asp-action="ShowMyBunch">Go Back</a>
    </div>
  <div class="list">
    @if((Model.MuncherMemoirs).Count() == 0) {
      <h4>This Muncher hasn't saved any memoirs yet.</h4>
    } else {
      @foreach (var item in Model.MuncherMemoirs) {
      <div class="memoirCard col-md-4">
        @{
              var base64 = Convert.ToBase64String(@item.AppUser.Image);
              var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
          }

          <img class="userImg" src="@imgSrc" />
        <p>@Html.DisplayFor(modelItem => item.AppUser.FullName)</p>
        <h4 class="restName">@Html.DisplayFor(modelItem => item.RestaurantName)</h4>
        <h5>@Html.DisplayFor(modelItem => item.RestaurantLocation)</h5>
        <p>@Html.DisplayFor(modelItem => item.RestaurantAddress)</p>
        <form asp-action="MemoirDetails">
          <input type="hidden" name="id" asp-for="@item.MemoirId">
          <input type="hidden" name="userid" asp-for="@item.AppUserId">
          <input type="hidden" name="user" asp-for="@item.AppUser">
          <button class="btn index-btn">Details</button>
        </form>
      </div>
    }

  }

  </div>
</div>
