@model MunchBunch.Models.MemoirViewModels.MemoirEditDetailDeleteViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3 class="text-center"><i>Are you sure you want to delete this?</i></h3>

<div class="detailDisplay">
        <div class="detailItem col-md-12">
            <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RId)</h5>
            <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RId)
            </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RestaurantName)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RestaurantName)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RestaurantLocation)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RestaurantLocation)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RestaurantAddress)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RestaurantAddress)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.Dish)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.Dish)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.Cocktail)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.Cocktail)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.Comments)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.Comments)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.AppUser)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.AppUser.FullName)
          </p>
        </div>

        <form class="text-center" asp-action="Delete">
          <input type="hidden" asp-for="Memoir.MemoirId" />
          <input type="submit" value="Delete" class="btn ate" />
          <a class="btn btn-default" asp-action="Index">Back to List</a>
        </form>

    </div>