@model MunchBunch.Models.MemoirViewModels.MemoirEditDetailDeleteViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="munchieHeader">Details</h2>


    <h4 class="text-center">Memoir</h4>
    <hr />
    <div class="detailDisplay">
        <div class="detailItem col-md-12">
            <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RId)</h5>
            <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RId)
            </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RestaurantName)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RestaurantName)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RestaurantLocation)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RestaurantLocation)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.RestaurantAddress)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.RestaurantAddress)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.Dish)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.Dish)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.Cocktail)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.Cocktail)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.Comments)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.Comments)
          </p>
        </div>

        <div class="detailItem col-md-12">
          <h5 class="col-md-5 text-right">@Html.DisplayNameFor(model => model.Memoir.AppUser)</h5>
          <p class="col-md-5">
            @Html.DisplayFor(model => model.Memoir.AppUser.FullName)
          </p>
        </div>
  <div class="text-center">
    <a class="btn ate" asp-action="Edit" asp-route-id="@Model.Memoir.MemoirId">Edit</a>
    <a class="btn btn-default" asp-action="Index">Back to List</a>
  </div>
    </div>


