@model MunchBunch.Models.Memoir

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Memoir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RestaurantAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RestaurantAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cocktail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cocktail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemoirId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
