@model MunchBunch.Models.MemoirViewModels.MemoirEditDetailDeleteViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Memoir</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.RId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.RId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.RestaurantName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.RestaurantName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.RestaurantLocation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.RestaurantLocation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.RestaurantAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.RestaurantAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.Dish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.Dish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.Cocktail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.Cocktail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memoir.AppUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memoir.AppUser.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Memoir.MemoirId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
