@model MunchBunch.Models.MemoirViewModels.MemoirListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="Memoir" />

<div class="memoirs">
  <h1 class="munchieHeader">My Munchie Memoirs</h1>
  <div class="list">
    @if((Model.Memoirs).Count() == 0) {
      <h4>Add some Munchie Memoirs! <a asp-area="" asp-controller="Home" asp-action="Index">Click here!</a></h4>
    } else {
      @foreach (var item in Model.Memoirs) {
      <div class="memoirCard col-md-4">
        <p>Restaurant Id: @Html.DisplayFor(modelItem => item.RId)</p>
        <h4 class="restName">@Html.DisplayFor(modelItem => item.RestaurantName)</h4>
        <h5>@Html.DisplayFor(modelItem => item.RestaurantLocation)</h5>
        <p>@Html.DisplayFor(modelItem => item.RestaurantAddress)</p>

        <a class="btn index-btn" asp-action="Edit" asp-route-id="@item.MemoirId">Edit</a>
        <a class="btn index-btn" asp-action="Details" asp-route-id="@item.MemoirId">Details</a>
        <a class="btn index-btn" asp-action="Delete" asp-route-id="@item.MemoirId">Delete</a>

      </div>
    }
  }

  </div>
</div>
