@model MunchBunch.Models.MemoirViewModels.MemoirListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Memoirs[0].RId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memoirs[0].RestaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memoirs[0].RestaurantLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memoirs[0].RestaurantAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memoirs[0].AppUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Memoirs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantAddress)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AppUser.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MemoirId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MemoirId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MemoirId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
